div { 
  background: #b1060f;
  height: 250px;
  width: 60px;
  position: relative;
  }

  div::before { 
    background: #b1060f;
    height: 250px;
    width: 60px;
    position: absolute;
    content: "";
    left: 90px;

    }

    span { 
      position: absolute;
      height: 250px;
      width: 60px;
      background: #e50919;
      left: 46px;
      transform: skew(20deg);
      box-shadow: 0 0 10px -4px #222;
     }

  .p {  
    font-size: 50;
  }